In [2]:
# Q1) reverse a string

str1='python'
str1[::-1]

'nohtyp'

In [6]:
# Q2) remove the spaces in a string

str1='hai how are you'
s=''
for i in str1:
    if i!=' ':
        s+=i
print(s)

haihowareyou

In [26]:
# Q3) remove digits from string
str1='hai123hello435'
s=''
for i in str1:
    if i not in '0123456789':
        s+=i
print(s)

haihello

In [32]:
#Q4) 

str1='banana'
str1.replace('a','@')

'b@n@n@'

In [42]:
# Q5)replace vowels with '*'
str1 = 'apple'
s=''
for i in str1:
    if i in'aeiou':
        i='*'
    s+=i
print(s)

*ppl*

In [72]:
#Q6) convert string to uppercase
str1 = 'hello world'
str1.upper()

'HELLO WORLD'

In [70]:
# Q7)count the number of vowels in a string
str1 = 'education'
count=0
for i in str1:
    if i in 'aeiou':
        count+=1
print(count)
# s = 5

5

In [66]:
# Q8)check if a string is a palindrome
str1 = 'madam'
str2=str1[::-1]
if str1==str2:
    print(True)
else:print(False)

True

In [78]:
# Q9)remove all special characters from a string
str1 = 'he@llo#wo$rld!'
s=''
for i in str1:
    if i.isalnum():
        s+=i
s

'helloworld'

In [56]:
# Q10)replace spaces with underscores
str1 = 'machine learning is fun'
s=''
for i in str1:
    if i==' ':
        s+='_'
    s+=i
print(s)

machine_ learning_ is_ fun