In [4]:
#1
salary=eval(input("Enter the Salary"))
dearness_allowance=0.4
rent_allowance=0.2

Gross_Salary=(salary*dearness_allowance)+(salary*rent_allowance)
print(f'total salary of Ramesh :{Gross_Salary}')

Enter the Salary 60000

total salary of Ramesh :36000.0

In [8]:
#2
Dist=eval(input("Enter the distance"))
mtr=Dist*1000
ft=Dist*3280
inch=Dist*39370
cm=Dist*100000

print(f"Distnace from the two cities is {mtr} meter")
print(f"Distnace from the two cities is {ft} feet")
print(f"Distnace from the two cities is {inch} inch")
print(f"Distnace from the two cities is {cm} centimeter")

Enter the distance 7

Distnace from the two cities is 7000 meter
Distnace from the two cities is 22960 feet
Distnace from the two cities is 275590 inch
Distnace from the two cities is 700000 centimeter

In [14]:
#3
math=eval(input("Enter the marks of math"))
physics=eval(input("Enter the marks of physics"))
chemistry=eval(input("Enter the marks of chemistry"))
english=eval(input("Enter the marks of english"))
biology=eval(input("Enter the marks of biology"))
total_marks=500

Avg_marks=(math+physics+chemistry+english+biology)/5
print(f"Average marks : {Avg_marks}")

Percentage_marks=(math+physics+chemistry+english+biology)/total_marks*100
print(f"percentage_marks : {Percentage_marks}")

Enter the marks of math 80
Enter the marks of physics 65
Enter the marks of chemistry 70
Enter the marks of english 90
Enter the marks of biology 95

Average marks : 80.0
percentage_marks : 80.0

In [30]:
#4
Temp=float(input('Enter the temperature in Fahrenheit'))
celcius=(Temp-32)*(5/9)
celcius1=round(celcius,2)
print(f"{Temp} Fahrenheit is {celcius1} celcius degree")

Enter the temperature in Fahrenheit 90

90.0 Fahrenheit is 32.22 celcius degree

In [1]:
#5
length=float(input("enter the length of rectangle"))
breadth=float(input("enter the breadth of rectangle"))
radius=float(input("enter the radius of circle"))

area_of_rectangle=length*breadth
area_of_circle=3.14*radius**2
perimeter_rectangle=2*(length+breadth)
circumference_circle=2*3.14*radius

print(f"area of the rectangle : {area_of_rectangle}")
print(f"perimeter of the rectangle : {perimeter_rectangle}")
print(f"area of the circle : {area_of_circle}")
print(f"circumference of the rectangle : {circumference_circle}")

enter the length of rectangle 5
enter the breadth of rectangle 4
enter the radius of circle 2

area of the rectangle : 20.0
perimeter of the rectangle : 18.0
area of the circle : 12.56
circumference of the rectangle : 12.56

In [15]:
#6
C=eval(input("enter the C number"))
D=eval(input("enter the D number"))

C,D=D,C

print(f"after swapping C: {C}")
print(f"after swapping D: {D}")

enter the C number 8
enter the D number 9

after swapping C: 9
after swapping D: 8

In [29]:
#7
num=(input("enter a five digit number"))
len(num)

enter a five digit number 85214

5

In [1]:
#8
num=input("enter a four digit number")
sum=int(num[0])+int(num[3])
print(sum)

enter a four digit number 5214

9

In [73]:
#9
percentage_man=52
total_literacy_percent=48
literate_men_percentage=35
total_population=80000

total_men_in_town=(percentage_man*total_population)/100
print(f"total men in town {total_men_in_town}")
totl_no_of_woman=total_population-total_men_in_town
print(f"total women in town {totl_no_of_woman}")

total_number_of_litercy=(total_literacy_percent*total_population)/100
print(f"total_number_of_litercy {total_number_of_litercy}")

total_literate_man=(literate_men_percentage*total_population)/100
total_literate_woman=total_number_of_litercy-total_literate_man

print(f"total_literate_man : {total_literate_man}")
print(f"total_literate_woman: {total_literate_woman}")

total men in town 41600.0
total women in town 38400.0
total_number_of_litercy 38400.0
total_literate_man : 28000.0
total_literate_woman: 10400.0

In [89]:
#10
cash = eval(input("Enter the amount (must be divisible by 10): "))
hundreds = cash // 100
cash = cash % 100

fifties = cash // 50
cash = cash % 50

tens = cash // 10
cash = cash % 10

print(f"100 rupee notes: {hundreds}")
print(f"50 rupee notes: {fifties}")
print(f"10 rupee notes: {tens}")

Enter the amount (must be divisible by 10):  570

100 rupee notes: 5
50 rupee notes: 1
10 rupee notes: 2