In [9]:
# Q1) input=['hyd','bengaluru','mumbai','chennai']

Input=['hyd','bengaluru','mumbai','chennai']
output=[]
for i in range(len(Input)):
    output.append(Input[i].title())
output

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [11]:
# Q2) input=['hyd','bengaluru','mumbai','chennai']

Input=['hyd','bengaluru','mumbai','chennai']
output=[]
for i in range(len(Input)):
    output.append(Input[i].upper())
output

['HYD', 'BENGALURU', 'MUMBAI', 'CHENNAI']

In [71]:
# Q3) input=['hyd','bengaluru','mum#bai','chen#nai']

Input=['hyd','bengaluru','mum#bai','chen#nai']
output=[]
for item in Input:
    if "#" in item :
        output.append(item)
output

['mum#bai', 'chen#nai']

In [73]:
# Q4) input=['hyd','bengaluru','mum#bai','chen#nai']

Input=['hyd','bengaluru','mum#bai','chen#nai']
output=[]
for i in Input:
    if "#" not in i :
        output.append(i)
output

['hyd', 'bengaluru']

In [41]:
# Q5) input=['hyd','bengaluru','mumbai','chennai']

Input=['hyd','bengaluru','mumbai','chennai']
output=[]
for i in range(len(Input)):
    output.append(i*10)
output

[0, 10, 20, 30]

In [19]:
# Q6) input=['hyd','bengaluru','mumbai','chennai']

Input=['hyd','bengaluru','mumbai','chennai']
output=[]
for i in range(len(Input)):
    output.append(i+10)
output

[10, 11, 12, 13]

In [39]:
# Q7) Sum of first 10 Natural numbers
lst=[]
Sum=0
for i in range(1,11):
    Sum+=i
    lst.append(Sum)
print(Sum)
print(lst)

55
[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]