In [ ]:
# 1. str1='ola ola ola ola'
#     Find the number of substring='ola'  with out using count

# 2. str1='hello h$ow  @are you***'
#     Clean the string 
#     output could be= 'hello how are you'

# 3.str1='omkar.nallagoni@cognizant.com; bheem.kalyan@nareshit.com'
#    Extract names surname and company names in 3 different lists

# 4.str1='a2b3c4'    output='aa bbb cccc'

In [1]:
 str1='ola ola ola ola'
words=str1.split()
count=0
for i in words:
    if i=='ola':
        count+=1
print(count)

4

In [3]:
str1='hello h$ow  @are you***'
s=''
for i in str1:
    if i not in '$@*':
        s+=i
print(s)

hello how  are you

In [17]:
str1='omkar.nallagoni@cognizant.com'
a=str1.find('.')
a1=str1.rfind('.')
b=str1.find('@')
name=str1[:a]
surname=str1[a+1:b]
company=str1[b+1:a1]
print(name)
print(surname)
print(company)

omkar
nallagoni
cognizant

In [105]:
str1='a2b3c4'
word=str1[0::2]
num=str1[1::2]
lst=[]
for i in range(len(word)):
    s=(word[i]*int(num[i]))
    lst.append(s)
' '.join(lst)

'aa bbb cccc'