In [1]:
num=100
num

100

In [3]:
num=100
print(num)

100

In [7]:
print(num=100)  # wrong representation

TypeError: 'num' is an invalid keyword argument for print()

In [9]:
n1=10
n2=20
print(n1,n2)

10 20

In [11]:
n1=10
n2=20
print(n1)
print(n2)

10
20

In [17]:
print('Hyderabad' , 100, 100.5 , True) # comma , is important if we write more tgan one data type in print statement

Hyderabad 100 100.5 True

In [27]:
n1=100
n2=200
n3=n1+n2
print(n3)
print("the addition of 100 and 200 is 300")  # major drawback is if we change the value of any variable it still shows the 300 value 
print("the addition of n1 and n2 is n3")
print("the addition of", n1 ,"and", n2, "is" ,n3)

300
the addition of 100 and 200 is 300
the addition of n1 and n2 is n3
the addition of 100 and 200 is 300

In [39]:
name='Python'
age=10
city='Hyderabad'

# my name is Python I'm 10 years old and live in Hyderabad city 

print(name)
print(age)
print(city)
print("my name is Python I'm 10 years old and live in Hyderabad city ")
print("my name is" ,name , " I'm " , age ,"years old and live in",city )

Python
10
Hyderabad
my name is Python I'm 10 years old and live in Hyderabad city
my name is Python  I'm  10 years old and live in Hyderabad

# formating

In [50]:
name='Python'
age=10
city='Hyderabad'

print("my name is Python I'm 10 years old and live in Hyderabad city ")
print("my name is" ,name , " I'm " , age ,"years old and live in",city )

print("my name is {} I'm {} years old and live in {} city".format(n1,n2,n2))

my name is Python I'm 10 years old and live in Hyderabad city
my name is Python  I'm  10 years old and live in Hyderabad
my name is 100 I'm 200 years old and live in 200 city

# **fstring method**

In [55]:
n1=150
n2=200
n3=n1+n2
print(n3)
print("the addition of 100 and 200 is 300")
print("the addition of {n1} and {n2} is {n3}")
print(f"the addition of {n1} and {n2} is {n3}")

350
the addition of 100 and 200 is 300
the addition of {n1} and {n2} is {n3}
the addition of 150 and 200 is 350

In [57]:
name='Python'
age=10
city='Hyderabad'
print("my name is {name} I'm {age} years old and live in {city} city")
print(f"my name is {name} I'm {age} years old and live in {city} city")

my name is {name} I'm {age} years old and live in {city} city
my name is Python I'm 10 years old and live in Hyderabad city

In [69]:
#7*2=14
7*2
print("7*2=",7*2)
print(f"7*2= {7*2}")

7*2= 14
7*2= 14

In [73]:
a=10
b=20
avg=(a+b)/2
print(f"avg of a and b is : {avg}")

avg of a and b is : 15.0