**zip method**

- zip is mainly used for both lists have same length
- if you want use for diffreent length you can use it but it reduce the len of list

In [3]:
names=['ramesh','suresh','mahesh']
l1=[2,3,4]

In [9]:
zip(names,l1)

In [11]:
list(zip(names,l1))

[('ramesh', 2), ('suresh', 3), ('mahesh', 4)]

In [13]:
for i in zip(names,l1):
    print(i)

('ramesh', 2)
('suresh', 3)
('mahesh', 4)

In [15]:
for i,j in zip(names,l1):
    print(i,j)

ramesh 2
suresh 3
mahesh 4

In [21]:
l1=[2,3,4]
l2=[3,4,5]
l=[]
for i,j in zip(l1,l2):
    l.append(i+j)
l

[5, 7, 9]

In [24]:
l1=[2,3,4]
l2=['a','b']
for i,j in zip(l1,l2):
    print(i,j)

2 a
3 b

In [56]:
l1=[10,20,30,40]
l2=[1,2,3]
l=[]
if len(l1)>len(l2):
    for i in range(len(l1)):
        if i<len(l2):
            l.append(l1[i]+l2[i])
        else:
            l.append(l1[i])  
else:
    for i in range(len(l2)):
        if i<len(l1):
            l.append(l1[i]+l2[i])
        else:
            l.append(l2[i])  
    
l

[11, 22, 33, 40]

In [3]:
l1=[10,20,30,40]
l2=[1,2,3]
for i,j in zip(l1,l2):
    print(i+j)

11
22
33

In [58]:
from itertools import zip_longest

In [60]:
l1=[10,20,30,40]
l2=[1,2,3]
list(zip(l1,l2))

[(10, 1), (20, 2), (30, 3)]

In [64]:
l1=[10,20,30,40]
l2=[1,2,3]
list(zip_longest(l1,l2,fillvalue=0))

[(10, 1), (20, 2), (30, 3), (40, 0)]

In [66]:
l1=[10,20,30,40]
l2=[1,2,3]
l=[]
new=list(zip_longest(l1,l2,fillvalue=0))
for i,j in new:
    l.append(i+j)
l

[11, 22, 33, 40]

- zip means combine the two elements which have some relations
- this give an idea about dictionary
- Ramesh is related with 20
- Suresh is related with 30
- these related values can form a dictionary
- dictionary is a key-value pair
- represent with {}
- {key:value}
- assume Ramesh is key and 20 is value :{'Ramesh':20}

In [82]:
d1={'Ramesh':20,'Suresh':30,'Mahesh':40}

In [86]:
d2={'A':[2,3,4,5],'B' : False , 'C' : (1,2,3,4)}
d2

{'A': [2, 3, 4, 5], 'B': False, 'C': (1, 2, 3, 4)}

In [110]:
d3={'A':[2,3,4,5],'B' : False , 'C' : (1,2,3,4),{'Ramesh':20,'Suresh':30,'Mahesh':40}:5}
d3

TypeError: unhashable type: 'dict'

In [108]:
d4={[2,3]:(2,3)}

TypeError: unhashable type: 'list'

In [114]:
dict5={'Ramesh':20,'Ramesh':22}  # latest value will print
dict5

{'Ramesh': 22}

In [ ]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':24} # w
dict2={20:'Ramesh',22:'Suresh',24:'Mahesh'} # w
dict3={'20':'Ramesh','22':'Suresh','24':'Mahesh'} # w
dict4={20:20,22:22,24:24}
dict5={'Ramesh':20,'Ramesh':22}
dict6={'Ramesh':20,'Ramesh':20}
dict7={'Ramesh':20,'Suresh':20}
dict8={'Ramesh':20,
 20:'Suresh',
 'Sathish':True,
 False:True}
dict9={'Names':['Ramesh','Suresh','Mahesh']}
dict10={['Ramesh','Suresh','Mahesh']:'Names'}
dict11={'Names':('Ramesh','Suresh','Mahesh')}
dict12={('Ramesh','Suresh','Mahesh'):'Names'}
dict13={}
dict14={{'Ramesh':20}:21}
dict14

In [1]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':24} # w
dict1

{'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24}

In [3]:
dict2={20:'Ramesh',22:'Suresh',24:'Mahesh'} # w
dict2

{20: 'Ramesh', 22: 'Suresh', 24: 'Mahesh'}

In [5]:
dict3={'20':'Ramesh','22':'Suresh','24':'Mahesh'} # w
dict3

{'20': 'Ramesh', '22': 'Suresh', '24': 'Mahesh'}

In [7]:
dict4={20:20,22:22,24:24}
dict4

{20: 20, 22: 22, 24: 24}

In [9]:
dict5={'Ramesh':20,'Ramesh':22}    # duplicates are not allowed
dict5

{'Ramesh': 22}

In [11]:
dict6={'Ramesh':20,'Ramesh':20}    # key is important 
dict6

{'Ramesh': 20}

In [13]:
dict7={'Ramesh':20,'Suresh':20}
dict7

{'Ramesh': 20, 'Suresh': 20}

In [17]:
dict8={'Ramesh':20,   ## Dictionary is a heterogeneou
 20:'Suresh',
 'Sathish':True,
 False:True}
dict8

{'Ramesh': 20, 20: 'Suresh', 'Sathish': True, False: True}

In [19]:
dict9={'Names':['Ramesh','Suresh','Mahesh']}
dict9

{'Names': ['Ramesh', 'Suresh', 'Mahesh']}

In [5]:
dict10={['Ramesh','Suresh','Mahesh']:'Names'}  # list are mutable that is why it cannot be assigned as key because key is unique
dict10

TypeError: unhashable type: 'list'

<!-- keys are important for us
changing the keys are not allowd
lists are mutable so it is failed
tuple is immutable so it works -->

In [27]:
dict12={('Ramesh','Suresh','Mahesh'):'Names'}
dict12

{('Ramesh', 'Suresh', 'Mahesh'): 'Names'}

In [29]:
dict13={}
dict13

{}

In [31]:
dict14={{'Ramesh':20}:21}
dict14

TypeError: unhashable type: 'dict'

In [13]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':24} # w
dict2={20:'Ramesh',22:'Suresh',24:'Mahesh'} # w
dict3={'20':'Ramesh','22':'Suresh','24':'Mahesh'} # w

In [11]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':24} # w
max(dict1)

'Suresh'

In [15]:
max(dict2)

24

In [18]:
max(dict3)

'24'

In [20]:
min(dict1)

'Mahesh'

In [22]:
len(dict1)

3

In [26]:
sum(dict3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
sorted(dict1)

['Mahesh', 'Ramesh', 'Suresh']

In [30]:
sorted(dict2)

[20, 22, 24]

In [34]:
list(reversed(dict1))

['Mahesh', 'Suresh', 'Ramesh']

In [36]:
sorted(dict3)

['20', '22', '24']

In [38]:
sum(dict2)

66

In [40]:
dict1+dict2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [46]:
dict1[::1]

KeyError: slice(None, None, 1)

In [50]:
dict1[1]

KeyError: 1

- we cannot extract elements using indexing

In [54]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':24} # w
dict1['Ramesh']

20

In [70]:
for i in dict1:
    # print(i,dict1[i])
    print(f"the {i} age is {dict1[i]}")

the Ramesh age is 20
the Suresh age is 22
the Mahesh age is 24

# Empty String - List - Dictionary Analysis

In [74]:
s=''
l=[]
d={}

In [76]:
s=s+'p'
s

'p'

In [80]:
l.append(4)
l

[4, 4]

In [82]:
d={}
d['Ramesh']=20
d['Suresh']=22
d['Mahesh']=24
d

{'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24}

**List to dictionary conversion**

In [90]:
name=['ramesh','suresh','mahesh']
age=[20,30,40]
d={}
for i,j in zip(name,age):
    d[i]=j
d

{'ramesh': 20, 'suresh': 30, 'mahesh': 40}

In [94]:
numbers=[20,21,22]
d={}
for i in numbers:
    if i%2==0:
        d[i]='even'
    else:
        d[i]='odd'
d

{20: 'even', 21: 'odd', 22: 'even'}

In [96]:
name=['ramesh','suresh','mahesh']
age=[20,30,40]
# d={}
# for i,j in zip(name,age):
#     d[i]=j
{i:j for i,j in zip(name,age)}

{'ramesh': 20, 'suresh': 30, 'mahesh': 40}

In [110]:
numbers=[20,21,22]
d={}
# for i in numbers:
#     if i%2==0:
#         d[i]='even'
#     else:
#         d[i]='odd'
# d    
{i:'even' if i%2==0 else 'odd' for i in numbers}  # don't write i with else condition because i is already initialised

{20: 'even', 21: 'odd', 22: 'even'}

**Multi Index**

In [129]:
d={'fruits':['Apple','Banana','Cherry']}
d['fruits'][2]

'Cherry'

In [135]:
d={'fruits':{'Apple':'Kashmir'}}
d['fruits']['Apple']

'Kashmir'

In [145]:
d={'fruits':[{'Apple':['green apple']}]}
d['fruits'][0]['Apple'][0]

'green apple'

In [165]:
d={'fruits':[{'apple':[{'kashmir':[{'India':['NareshIT']}]}]}]}
d['fruits'][0]['apple'][0]['kashmir'][0]['India'][0]

'NareshIT'

In [167]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [3]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':24} 
dict1.clear()
dict1

{}

In [5]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':24} 
dict1.copy()

{'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24}

In [13]:
dict1.fromkeys('Ramesh')

{'R': None, 'a': None, 'm': None, 'e': None, 's': None, 'h': None}

In [17]:
dict1.get('Ramesh')

20

In [19]:
dict1.items()

dict_items([('Ramesh', 20), ('Suresh', 22), ('Mahesh', 24)])

In [21]:
dict1.keys()

dict_keys(['Ramesh', 'Suresh', 'Mahesh'])

In [23]:
dict1.values()

dict_values([20, 22, 24])

In [29]:
dict1.pop('Mahesh')

KeyError: 'Mahesh'

In [34]:
dict1.popitem()

('Suresh', 22)

In [38]:
dict1.setdefault('Suresh')
dict1

{'Ramesh': 20, 'Suresh': None}

In [42]:
dict1.update()
dict1

{'Ramesh': 20, 'Suresh': None}