**List Comprehention**

- list comprehention means writing a code in a single line without using append
  
- many codes having multiple lines with conditions and loops slower the execution

- List comprehention will help you speed up the process

$Case - 1$

- focus on what is the output variable
    - which means which variable we are saving

In [86]:
# [<output>] <for loop>] Case-1

In [2]:
l=[]
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
l=[i for i in range(10) ]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
Input=['hyd','bangalore','mumbai','chennai']
output=[]
for i in Input:
    output.append(i.capitalize())
output

['Hyd', 'Bangalore', 'Mumbai', 'Chennai']

In [28]:
Input=['hyd','bangalore','mumbai','chennai']
[Input[i].capitalize() for i in range(len(Input))]

['Hyd', 'Bangalore', 'Mumbai', 'Chennai']

$Case-2$
- for loop with if condition

In [33]:
# [<output>] <for loop>] Case-1
# [<output>] <for loop> <if condition>] Case-2

In [37]:
Input=[20,21,30,31,34]
even=[]
for i in Input:
    if i%2==0:
        even.append(i)
even

[20, 30, 34]

In [43]:
Input=[20,21,30,31,34]
even=[i for i in Input if i%2==0]
odd=[i for i in Input if i%2!=0]
print(even)
print(odd)

[20, 30, 34]
[21, 31]

In [53]:
Input=['hyd','bangalore','mum#bai','chen#nai']
[i for i in Input if '#' in i]

['mum#bai', 'chen#nai']

In [55]:
Input=['hyd','bangalore','mum#bai','chen#nai']
[i for i in Input if not '#' in i]

['hyd', 'bangalore']

$Case - 3$ : for-if-else

In [58]:
# [<output>] <for loop>] Case-1
# [<output>] <for loop> <if condition>] Case-2
# [<if_output> <if condition> else <else_output> <for loop>] Case-3

In [74]:
Input=[20,21,30,31,34]
[f"even_{i}" if i%2==0 else f"odd_{i}" for i in Input]

['even_20', 'odd_21', 'even_30', 'odd_31', 'even_34']

$Case-4$ : if-elif-else

In [77]:
# [<output>] <for loop>] Case-1
# [<output>] <for loop> <if condition>] Case-2
# [<if_output> <if condition> else <else_output> <for loop>] Case-3
# [if_output] <if condition> else <elif output> <elif condition> else <else output> <for loop>] Case-4

# Rule-1: There is no elif
        # else-if
# Rule-2 : if---else {always side by side}
# Rule-3 : else ke baad pakka output aata

In [81]:
Input=[50,70,90]
['A' if i>=90 else 'B' if i>=60 else 'C' for i in Input]

['C', 'B', 'A']

In [88]:
Input=[50,70,90]
['A' if i>=90\
 else 'B' if i>=60\
 else 'C'\
 for i in Input]

['C', 'B', 'A']

**Summation wrapper**

In [93]:
Sum=0
for i in range(10):
    Sum=Sum+i
Sum

45

**Valrus Operator**

In [118]:
Sum=0
[Sum:=Sum+i for i in range(1,11)][-1]

55

In [120]:
marks=[45,76,89,53,67,90,82,49,33,99]
[i for i in marks if i>=50]

[76, 89, 53, 67, 90, 82, 99]

In [122]:
marks=[45,76,89,53,67,90,82,49,33,99]
['A' if i>=85 else 'B' if i<84 and i>70 else 'C' if i<69 and i>50 else 'F' for i in marks]

['F', 'B', 'A', 'C', 'C', 'A', 'B', 'F', 'F', 'A']

In [126]:
Sum=0
marks=[45,76,89,53,67,90,82,49,33,99]
[i+5 for i in marks if i<50]

[50, 54, 38]

In [128]:
marks=[45,76,89,53,67,90,82,49,33,99]
[i for i in marks if i>85]

[89, 90, 99]

In [132]:
marks=[45,76,89,53,67,90,82,49,33,99]
[sum(marks)//len(marks) for i in marks][-1]

68

In [ ]:
ðŸ§© List Comprehension â€“ 10 Intermediate Questions

1. Square Even Numbers Only
Given a list of integers, create a new list containing the squares of only the even numbers.

nums = [2, 5, 8, 11, 14, 17, 20]


2. Filter Strings with More Than 3 Vowels
From a list of words, return only those that have more than 3 vowels.

words = ["education", "sky", "queue", "beautiful", "crypt"]


3. Flatten a 2D List
Flatten a 2D list into a 1D list.

lst = [[1, 2], [3, 4], [5, 6]]


4. Get First Letters of Words
Extract the first letter from each word in a sentence.

sentence = "Python list comprehension is powerful"


5. Filter Palindromes
Return only palindromic strings from a given list.

words = ["madam", "python", "level", "noon", "data"]


6. Replace Negative Numbers with 0
Replace all negative numbers in a list with 0.

nums = [-2, 3, -5, 7, -9, 10]


7. Generate (number, square, cube) Tuples
Generate a list of tuples containing a number, its square, and its cube for numbers 1â€“10.

8. Words Containing a Specific Letter
Extract all words containing the letter 'a' from a sentence.

sentence = "Practice makes a man perfect"


9. Transpose a Matrix (without numpy)
Given a 2D list (matrix), return its transpose.

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]


10. Extract Numbers Divisible by Both 3 and 5
From a range of numbers 1â€“100, extract those divisible by both 3 and 5.

In [ ]:
# [<output>] <for loop>] Case-1
# [<output>] <for loop> <if condition>] Case-2
# [<if_output> <if condition> else <else_output> <for loop>] Case-3
# [if_output] <if condition> else <elif output> <elif condition> else <else output> <for loop>] Case-4

# Rule-1: There is no elif
        # else-if
# Rule-2 : if---else {always side by side}
# Rule-3 : else ke baad pakka output aata

In [3]:
# 1. Square Even Numbers Only
# Given a list of integers, create a new list containing the squares of only the even numbers.

nums = [2, 5, 8, 11, 14, 17, 20]
l=[i*i for i in nums if i%2==0]
l

[4, 64, 196, 400]

In [13]:
# 2. Filter Strings with More Than 3 Vowels
# From a list of words, return only those that have more than 3 vowels.

words = ["education", "sky", "queue", "beautiful", "crypt"]
vowels='aeiouAEIOU'
# [i for i in words if (len(i) in vowels)>3]
# result = [i for i in words 
#           if len([j for j in i if j in vowels]) > 3]
# result

s=[]
for i in words:
    count=0
    for j in i:
        if j in vowels:
            count+=1
    if count>3:
        s.append(i)
print(s)

['education', 'queue', 'beautiful']

In [59]:
# 3. Flatten a 2D List
# Flatten a 2D list into a 1D list.

lst = [[1, 2], [3, 4], [5, 6]]
# [x for i in lst for x in (i if type(i)==list else [i])]
a=[lst[i][j] for i in range(len(lst)) for j in range(len(lst[i]))]
# a = [lst[i][j] for i in range(len(lst)) for j in range(len(lst[i]))]
a

[1, 2, 3, 4, 5, 6]

In [68]:
# 4. Get First Letters of Words
# Extract the first letter from each word in a sentence.

sentence = "Python list comprehension is powerful"
[i[0] for i in sentence.split()]

['P', 'l', 'c', 'i', 'p']

In [90]:
# 5. Filter Palindromes
# Return only palindromic strings from a given list.

words = ["madam", "python", "level", "noon", "data"]
[i for i in words if i==i[::-1]]
# a='data'
# a[::-1]

['madam', 'level', 'noon']

In [119]:
# 6. Replace Negative Numbers with 0
# Replace all negative numbers in a list with 0.

nums = [-2, 3, -5, 7, -9, 10]
[0 if i<0 else i for i in nums]

[0, 3, 0, 7, 0, 10]

In [137]:
# 7. Generate (number, square, cube) Tuples
# Generate a list of tuples containing a number, its square, and its cube for numbers 1â€“10.
# tup=[i for i in range(0,11)]
# square=[i*i for i in tup]
# cube=[i*i*i for i in tup]
# print(tup,square,cube)
tup=[(i,i*i,i*i*i) for i in range(0,11)]
print(tup)

[(0, 0, 0), (1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64), (5, 25, 125), (6, 36, 216), (7, 49, 343), (8, 64, 512), (9, 81, 729), (10, 100, 1000)]

In [151]:
# 8. Words Containing a Specific Letter
# Extract all words containing the letter 'a' from a sentence.

sentence = "Practice makes a man perfect"
[i for i in sentence.split() if 'a' in i]

['Practice', 'makes', 'a', 'man']

In [ ]:
# 9. Transpose a Matrix (without numpy)
# Given a 2D list (matrix), return its transpose.

# matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [153]:
# 10. Extract Numbers Divisible by Both 3 and 5
# From a range of numbers 1â€“100, extract those divisible by both 3 and 5.
[i for i in range(1,101) if i%3==0 and i%5==0]

[15, 30, 45, 60, 75, 90]