- Representation
- In-built function:
  - print
  - max
  - min
  - len
  - sorted
  - reversed
  - sum
  - type
- concatenation
- index
- mutable vs immutable
- slice
- methods

- lists are heterogeneous
- duplicates are allowed
- list in list allowed

In [7]:
l1=[[]]
l1

[[]]

In [15]:
l2=[10,20,30,'a','apple','cheery']
l2.reverse()
l2

['cheery', 'apple', 'a', 30, 20, 10]

In [34]:
l=[10,20,30,40,50,'A','B','C','D']
for i in range(len(l)):
    print(i,':',(i- len(l)),':',l[i])000

0 : -9 : 10
1 : -8 : 20
2 : -7 : 30
3 : -6 : 40
4 : -5 : 50
5 : -4 : A
6 : -3 : B
7 : -2 : C
8 : -1 : D

In [39]:
l[2]='apple'
l

[10, 20, 'apple', 40, 50, 'A', 'B', 'C', 'D']

In [55]:
l=[10,[20,30,40]]
l[1][0]

20

In [69]:
l3=[10,20,['apple','banana','cherry']]
l3[2][2]

'cherry'

In [83]:
l=['Apple',['kashmir',['India',['Mumbai',['MH',['Shivaji',['Shambaji',['Viky']]]]]]]]
l[1][1][1][1][1][1][1]

['Viky']

In [97]:
l2=[[[[[[[[['apple']]]]]]]]]
l2[0][0][0][0][0][0][0][0][0]

'apple'

# METHODS

In [2]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [4]:
l=[10,20,30,40,50,'A','B','C','D']

In [8]:
l.clear()
l

[]

In [13]:
l2=[10,20,20,30,40,50,'A','B','C','D']
l2.copy()

[10, 20, 20, 30, 40, 50, 'A', 'B', 'C', 'D']

In [16]:
l2.count(20)

2

In [15]:
l2.count(100)

0

In [17]:
l2.index(20,3)

ValueError: 20 is not in list

In [30]:
l2.reverse()
l2

['D', 'C', 'B', 'A', 50, 40, 30, 20, 20, 10]

In [130]:
list(reversed(l2))

['D', 'C', 'B', 'A', 50, 40, 30, 20, 20, 10]

In [32]:
l2.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [38]:
l=[100,20,60,80,40,50]
l.sort()
l

[20, 40, 50, 60, 80, 100]

In [77]:
l.pop()
l

[20, 40, 50, 60, 80, 100]

In [79]:
l.append(10)
l

[20, 40, 50, 60, 80, 100, 10]

In [93]:
L=[10,20,20,30,40,50,'A','B','C','D']
M=L
M

[10, 20, 20, 30, 40, 50, 'A', 'B', 'C', 'D']

In [99]:
M.clear()
L

[]

**in place**

- in place indicates the output or solution overwrites in same object
- In some methods they mentioned in_place=False
    - in this situation the output will not overwrite in same object
    - then make in_place=True in order to see the output

In [120]:
l=[10,20,20,30,40,50]
sorted(l)

[10, 20, 20, 30, 40, 50]

In [124]:
l.sort()
l

[10, 20, 20, 30, 40, 50]

**sorted vs sort both are different because of **in_place****

**append**

- add the element at last
- append mainly used to store the results in a list
- so far we just print the result, we did not store the result 
- append is 90% in use case will use

In [136]:
l=['apple','banana','cherry']
l

['apple', 'banana', 'cherry']

In [138]:
l.append('dairy milk')
l

['apple', 'banana', 'cherry', 'dairy milk']

In [142]:
l=[]
for i in range(1,5):
    l.append(i)
l

[1, 2, 3, 4]

In [160]:
import random
num=random.randint(1,10)
l=[]
for i in range(1,6):
    num=random.randint(1,10)
    if num%2==0:
        print(f"{num} is even")
        l.append(num)
    else:
        print(f"{num} is odd")
        l.append(num)
print(l)

7 is odd
10 is even
3 is odd
2 is even
6 is even
[7, 10, 3, 2, 6]

In [178]:
Input=['hyd','bangalore','mumbai','chennai']
output=[]
for i in range(len(Input)):
    output.append(Input[i].upper())
output

['HYD', 'BANGALORE', 'MUMBAI', 'CHENNAI']

In [180]:
Input=['hyd','bangalore','mumbai','chennai']
output=[]
for i in range(len(Input)):
    output.append(Input[i].capitalize())
output

['Hyd', 'Bangalore', 'Mumbai', 'Chennai']

In [204]:
Input=['hyd','bangalore','mum#bai','chen#nai']
output=[]
for i in range(len(Input)):
    a=Input.index('mum#bai')
    b=Input.index('chen#nai')
    output.append(a)
output

[2, 2, 2, 2]

In [208]:
Input=['hyd','bangalore','mum#bai','chen#nai']
output=[]
for i in range(len(Input)):
    output.append(Input[i]*10)
output

['hydhydhydhydhydhydhydhydhydhyd',
 'bangalorebangalorebangalorebangalorebangalorebangalorebangalorebangalorebangalorebangalore',
 'mum#baimum#baimum#baimum#baimum#baimum#baimum#baimum#baimum#baimum#bai',
 'chen#naichen#naichen#naichen#naichen#naichen#naichen#naichen#naichen#naichen#nai']

In [ ]:
# 1ï¸âƒ£ Sum of Elements

# Write a Python program to find the sum of all elements in a list.
# Example:
# Input: [2, 5, 7, 1] â†’ Output: 15

# 2ï¸âƒ£ Find Maximum and Minimum

# Write a program to find the largest and smallest numbers in a list without using built-in max() and min().

# 3ï¸âƒ£ Second Largest Element

# Find the second largest element in a list.
# Example:
# Input: [10, 4, 7, 9, 3] â†’ Output: 9

# 4ï¸âƒ£ Remove Duplicates

# Write a program to remove duplicate elements from a list without using sets.
# Example:
# Input: [1, 2, 2, 3, 1, 4] â†’ Output: [1, 2, 3, 4]

# 5ï¸âƒ£ Reverse a List

# Reverse a list in-place (without using [::-1] or reversed()).

# 6ï¸âƒ£ Count Occurrences

# Given a list and an element, count how many times that element appears in the list.
# Example:
# Input: [2, 3, 2, 5, 2], element = 2 â†’ Output: 3

# 7ï¸âƒ£ List Rotation

# Rotate a list to the right by k positions.
# Example:
# Input: [1,2,3,4,5], k=2 â†’ Output: [4,5,1,2,3]

# 8ï¸âƒ£ Merge and Sort Two Lists

# Given two sorted lists, merge them into a single sorted list without using sorted().

# 9ï¸âƒ£ Find Common Elements

# Write a program to find the intersection (common elements) between two lists.
# Example:
# Input: [1,2,3,4], [3,4,5,6] â†’ Output: [3,4]

# ðŸ”Ÿ List Comprehension Challenge

# Using list comprehension, create a new list that contains:

# All even numbers squared, from a given list.
# Example:
# Input: [1,2,3,4,5] â†’ Output: [4,16]

# ðŸ’¡ Bonus (for advanced practice)

# 11ï¸âƒ£ Flatten a Nested List
# Input: [[1,2],[3,4,5],[6]] â†’ Output: [1,2,3,4,5,6]

# 12ï¸âƒ£ Find All Pairs with a Given Sum
# Input: [1,4,5,3,2], target=6 â†’ Output: [(1,5),(4,2),(3,3)]

In [212]:
# 1 Write a Python program to find the sum of all elements in a list.
# Example:
# Input: [2, 5, 7, 1] â†’ Output: 15

lst=[2,5,7,1]
Sum=0
for i in range(len(lst)):
    Sum+=lst[i]
Sum

15

In [222]:
# 2ï¸âƒ£ Find Maximum and Minimum

# Write a program to find the largest and smallest numbers in a list without using built-in max() and min().

lst=[2,4,7,9,12,45]
Max=float('-inf')
for i in range(len(lst)):
    if lst[i]>Max:
        Max=lst[i]
print(Max)

Min=float('inf')
for j in range(len(lst)):
    if lst[j]<Min:
        Min=lst[j]
print(Min)

45
2

In [264]:
# 3ï¸âƒ£ Second Largest Element
# Find the second largest element in a list.
# Example:
# Input: [10, 4, 7, 9, 3] â†’ Output: 9

lst=[2,4,7,9,12,45]
largest=float('-inf')
second_largest=float('-inf')
for i in range(len(lst)):
    if lst[i]>largest:
        second_largest=largest
        largest=lst[i]
    else:
        if lst[i]!=largest:
            second_largest=lst[i]
print(second_largest)

12

In [238]:
# 4ï¸âƒ£ Remove Duplicates

# Write a program to remove duplicate elements from a list without using sets.
# Example:
# Input: [1, 2, 2, 3, 1, 4] â†’ Output: [1, 2, 3, 4]

lst2=[1, 2, 2, 3, 1, 4]
lst1=[]
for i in range(len(lst2)):
    if lst2[i] not in lst1:
        lst1.append(lst2[i])
lst1

[1, 2, 3, 4]

In [250]:
# 5ï¸âƒ£ Reverse a List

# Reverse a list in-place (without using [::-1] or reversed()).

lst3=[1, 2, 2, 3, 1, 4]
lst3.reverse()
lst3

[4, 1, 3, 2, 2, 1]

In [11]:
# 6ï¸âƒ£ Count Occurrences

# Given a list and an element, count how many times that element appears in the list.
# Example:
# Input: [2, 3, 2, 5, 2], element = 2 â†’ Output: 3

count=0
lst4= [2, 3, 2, 5, 2]
d={}
for i in lst4:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
d

{2: 3, 3: 1, 5: 1}

1. [2,3,30,40,50,6,7] find the max without using max function
2. [2,3,30,40,50,6,7] find the second max without using max function
3. [2,3,30,40,50,6,7] sort the values without using the sort function
4. [2,3,30,40,50,6,7] reverse the values without using the reverse function
5. [2,3,[30,40,50],[6,7]]  output will be [2,3,30,40,50,6,7]
6. str1='ola ola ola ola' find the no. of ola with out using count method
7. [10,20,30,10,10] find the no. of 10 with out using count method
8. str1='hello how are you, hello i'm good' find the most repeated word
9. find the largest word
10. find the smallest word
11. create counter program : hello=2 , how=1, are=2 you=1 im=1 good=1, =1
     output should be alphabetical order
12. str1='The India is a greatest country! Im ha$$$py here&&&' / output : 'India greatest country,Im happy here'
13. [202,301,405,607,590,320,140,50] create a function that verify this pattern with any list
14. str1='a bb ccc dddd' / output : 'a1 b2 c3 d4'

# pop vs remove 
- pop takes index
- remove takes direct element name
    - taking element name advantage
    - one time element only drop
- when we want to drop second element use pop

In [5]:
l=['apple','banana','cherry','milk','tea']
l.pop()

'tea'

In [11]:
l.remove('banana')

ValueError: list.remove(x): x not in list

In [13]:
l

['apple', 'cherry', 'milk']

In [27]:
l2=['apple','banana','cherry','milk','tea','banana']
Id=l2.index('banana',0,10)
l2.pop(Id)
l2

['apple', 'cherry', 'milk', 'tea', 'banana']

In [21]:
l2=['apple','banana','cherry','milk','tea','banana']
l2.remove('banana')
l2

['apple', 'cherry', 'milk', 'tea', 'banana']

# append-extend-concate

In [37]:
l=['apple','banana','cherry','milk','tea','banana']
l.append(10)
l

['apple', 'banana', 'cherry', 'milk', 'tea', 'banana', 10]

In [39]:
l.extend('banana')

In [41]:
l

['apple',
 'banana',
 'cherry',
 'milk',
 'tea',
 'banana',
 10,
 'b',
 'a',
 'n',
 'a',
 'n',
 'a']

In [45]:
l.extend('10')
l

['apple',
 'banana',
 'cherry',
 'milk',
 'tea',
 'banana',
 10,
 'b',
 'a',
 'n',
 'a',
 'n',
 'a',
 '1',
 '0']

In [50]:
l+l2

['apple',
 'banana',
 'cherry',
 'milk',
 'tea',
 'banana',
 10,
 'b',
 'a',
 'n',
 'a',
 'n',
 'a',
 '1',
 '0',
 'apple',
 'banana',
 'cherry',
 'milk',
 'tea',
 'banana']

In [52]:
l1=['a','b','c']
l2=[1,2,3]
l1.extend(l2)
print(l1)

['a', 'b', 'c', 1, 2, 3]

In [54]:
l2.extend(l1)
print(l2)

[1, 2, 3, 'a', 'b', 'c', 1, 2, 3]

In [56]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [58]:
del(l)

In [60]:
l

NameError: name 'l' is not defined