**Lambda funcion**

- it is a function we can represent in a single line
- it behaves exactly how our original function does
- lambda arguments : expression

**case-1 : function with one arguments**

In [4]:
def add(n):
    return(n+10)
add(5)

15

In [ ]:
# syntax : <function name> = lambda <arg> : <return value>
# function name=add
# arg : n
# return : n+10

In [12]:
add1=lambda n:n+10

In [14]:
add1(5)

15

In [16]:
def cube(a):
    return(a*a*a)
cube(2)

8

In [18]:
cube=lambda a:a*a*a
cube(3)

27

**case-2 : more than one argument**

In [21]:
summ=lambda n1,n2:n1+n2
summ(2,3)

5

In [25]:
avg=lambda n1,n2,n3:(n1+n2+n3)//3
avg(5,10,15)

10

In [27]:
avg1=lambda a,b,c:round((a+b+c)//3)
avg1(5,20,30)

18

In [29]:
avg1=lambda a,b,c=10:round((a+b+c)//3)
avg1(5,20)

11

**Case-3 : if-else statement**

In [ ]:
<fun name>= lambda <arg> : <expression>
<fun name>= lambda <arg1> , <arg2> : <expression>
<fun name>= lambda <arg1> : <if_out> <if cond> else<else_out>

In [34]:
even_odd = lambda i : 'even' if i%2==0 else 'odd'
even_odd(10)

'even'

In [36]:
even_odd = lambda i : f'even_{i}' if i%2==0 else f'odd_{i}'
even_odd(15)

'odd_15'

In [40]:
greater = lambda a,b : a if a>b else b
greater(50,10)

50

In [44]:
grade = lambda n : 'A' if n>=75 else 'B' if n>=60 else 'C'
grade(50)

'C'

**Case-4 : usage of list**

In [48]:
l=['hyd','bengaluru','pune','mumbai']
[i.capitalize() for i in l]

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [54]:
l=['hyd','bengaluru','pune','mumbai']
lambda i : i.capitalize(),l

(<function __main__.<lambda>(i)>, ['hyd', 'bengaluru', 'pune', 'mumbai'])

**map**

In [65]:
lambda i : i.capitalize()

In [63]:
lambda i : i.capitalize(),l

(<function __main__.<lambda>(i)>, ['hyd', 'bengaluru', 'pune', 'mumbai'])

In [56]:
map(lambda i : i.capitalize(),l)

In [58]:
list(map(lambda i : i.capitalize(),l))

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [91]:
l1=['hyd','bengal#ru','pune','mumb#i']

In [77]:
list(map(lambda i : i if '#' in i else 'none'),l1)

TypeError: map() must have at least two arguments.

In [79]:
lambda i:'#' in i

In [85]:
lambda i:'#' in i,l1

(<function __main__.<lambda>(i)>, ['hyd', 'bengaluru', 'pune', 'mumbai'])

In [87]:
map(lambda i:'#' in i,l1)

In [93]:
list(map(lambda i:'#' in i,l1))

[False, True, False, True]

**filter**

In [96]:
list(filter(lambda i:'#' in i,l1))

['bengal#ru', 'mumb#i']

In [103]:
l=[1,2,3,4]
# Output=[1,4,9,16]
list(map((lambda i : i*i),l))

[1, 4, 9, 16]

In [119]:
l=['hyd','bengaluru','chennai']
# Output=[h,b,c]
list(map(lambda i:i[0] ,l))

['h', 'b', 'c']

In [123]:
# wap to retrieve the elements where len of elements > 4
l=['hyd','bengaluru','chennai']
list(filter((lambda i : len(i)>4),l))

['bengaluru', 'chennai']

# reduce

- reduce is a method will do all math operation with lambda func
- reduce will available package called as **functools**
- import functools and apply dir

In [129]:
summ=0
[summ:=summ+i for i in range(1,11)][-1]

55

In [142]:
l=[1,2,3,4]
map(lambda i,summ :summ+i,l)

map - in built
filter - in built
reduce - method

In [160]:
lambda summ,i: summ+i,l

(<function __main__.<lambda>(summ, i)>, [1, 2, 3, 4])

In [158]:
from functools import reduce
l=[1,2,3,4]
reduce(lambda summ,i: summ+i,l)

10

In [162]:
l=[10,20,30,40]
reduce(lambda s,i: s+i,l)  # by default it takes the value of s=0

100

In [166]:
l=[10,20,30,40]
reduce(lambda s,i: s+i,l,100)  # we can also assign the value from where we want to start

200

In [ ]:
⚡ Lambda Function – 10 Intermediate Questions

1. Sort by Last Character
Sort a list of strings using a lambda function based on their last character.

words = ["apple", "banana", "cherry", "date"]


2. Filter Even Numbers Using filter()
Use a lambda function with filter() to return only even numbers.

nums = [10, 15, 20, 25, 30]


3. Find Product of All Numbers Using reduce()
Use a lambda with functools.reduce to find the product of all elements.

nums = [2, 3, 4, 5]


4. Sort List of Tuples by Second Element
Sort a list of tuples based on their second element.

data = [(1, 5), (2, 3), (4, 1)]


5. Square Numbers Using map()
Use a lambda with map() to return a list of squares.

nums = [1, 2, 3, 4, 5]


6. Conditional Lambda Function
Use a lambda that returns "Even" if a number is even, else "Odd".

nums = [3, 8, 11, 14]


7. Find Maximum Using reduce()
Use a lambda and reduce() to find the maximum value in a list.

nums = [12, 45, 23, 67, 34]


8. Custom Sort by String Length
Sort a list of strings by their lengths using a lambda.

words = ["hi", "python", "great", "job"]


9. Filter Numbers Between 10 and 50
Use filter() with a lambda to return numbers between 10 and 50.

nums = [5, 15, 25, 55, 45, 65]


10. Combine map() and filter()
Use map() to square numbers, but only for even numbers using filter().

nums = [1, 2, 3, 4, 5, 6]

In [ ]:
# syntax : <function name> = lambda <arg> : <return value>
<fun name>= lambda <arg> : <expression>
<fun name>= lambda <arg1> , <arg2> : <expression>
<fun name>= lambda <arg1> : <if_out> <if cond> else<else_out>

In [54]:
# 1. Sort by Last Character
# Sort a list of strings using a lambda function based on their last character.
# list(map(lambda i:i[0] ,l))
words = ["apple", "banana", "cherry", "date"]
sorted_words = sorted(words, key=lambda w: w[-1])
sorted_words

['banana', 'apple', 'date', 'cherry']

In [64]:
# 2. Filter Even Numbers Using filter()
# Use a lambda function with filter() to return only even numbers.

nums = [10, 15, 20, 25, 30]
list(filter(lambda i :  i%2==0,nums))

[10, 20, 30]

In [72]:
# 3. Find Product of All Numbers Using reduce()
# Use a lambda with functools.reduce to find the product of all elements.
from functools import reduce
nums = [2, 3, 4, 5]
# reduce(lambda summ,i: summ+i,l)
reduce(lambda prod,i: prod*i,nums)

120