In [1]:
# this notebook i opened from th home tab

In [3]:
import os

In [5]:
os.getcwd()

'C:\\Users\\Hp\\Documents\\NareshIT\\Python Session'

# Inbuilt Function

In [10]:
#functions always with ()
#print()
#max()
#min()
#type()

- when ever you miss the brackets for function it will give indiaction
  - it will display as **function**
  - it will display as **bound method**

In [15]:
l=[1,2,3,4,5]
print(type(l))
print(max(l))
print(min(l))
print(len(l))

<class 'list'>
5
1
5

# DataTypes

- int
- float
- bool
- str
- complex 
- range 
- list
- tuple
- dict
- set
- frozenset
- bytearray
- bytes
- memoryview

## $Integer$

In [10]:
num=100
print(type(num))
print(num)

<class 'int'>
100

## $Float$

In [13]:
money=13.32
type(money)

float

In [21]:
print(1e1)  # 1*10
print(1e2)   # 1*100
print(1e3)   # 1*1000

10.0
100.0
1000.0

In [23]:
print(1e+1)
print(1e+2)

10.0
100.0

In [25]:
print(1e-1)
print(1e-2)

0.1
0.01

## $Strings$

In [30]:
name='Python'
print(type(name))

<class 'str'>

In [32]:
city="Hyderabad"
city

'Hyderabad'

In [36]:
# name : single equotes
# city : double quotes
name , city  # by default single quotes only

('Python', 'Hyderabad')

In [40]:
print(name,city)  # whenever we print the answers without quotes

Python Hyderabad

## $triple Quotes$
- triple quotes are used to write multiple lines
- if i want to write an info, i can use **markdown** in jupyter
- but in vs code there is no markdown
- then we can use triple quotes to convey the info
- this procedure is known as **doc string**
- in prompt engineering also we use multiples quotes

In [49]:
""" I am learning Python data types
which is very easy"""

' I am learning Python data types\nwhich is very easy'

In [4]:
'i like 'python''

SyntaxError: invalid syntax (851845917.py, line 1)

In [6]:
"i like "python""

SyntaxError: invalid syntax (3612567499.py, line 1)

In [10]:
srt1='I like "Python"'
print(srt1)

I like "Python"

In [12]:
# 'python'
# 'python
# "python
# "python'

SyntaxError: unterminated string literal (detected at line 1) (2202430884.py, line 1)

In [14]:
"python'

SyntaxError: unterminated string literal (detected at line 1) (1935961513.py, line 1)

# *Boolean*

- True indicates 1, ON

- False indicates 0, OFF

In [18]:
value=True
type(value)

bool

In [20]:
value=False
type(value)

bool

In [32]:
true=True
false='False'
true=100
false=true
print(true)
print(false)
# True=10 # error

100
100