- I want do something based on some condition

- I will go say hello if i know you

- I want to go to class if no rain

- if no rain then i will go to class  otherwise i will go to movie

    - if no rain then i will go to class else i will go to movie

- if i pass in firstclass i will study MBA in USA 
otherwise if i pass in second class i will study in good college india 
otherwise i will study in my town

    - if i pass in firstclass i will study MBA in USA 
     elif i pass in second class i will study in good college india 
     else i will study in my town


- if i pass in firstclass i will study MBA in USA 
otherwise if i pass in second class i will study in good college india 
otherwise if i pass in third class i will study in my town
othersie papa se belt treatment

## if

if <condition>:
    <code>
    <code>

if === condition === : === indentation

In [8]:
10>0

True

In [10]:
10<0

False

In [22]:
10=10  #assignment

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1745431389.py, line 1)

In [24]:
10==10  #condition

True

In [16]:
10<=10

True

In [18]:
10>=10

True

In [20]:
10!=10

False

In [26]:
if 10>0:
    print("hello")

hello

In [28]:
if 10<10:
    print("hello")

**Mistake 1**
forget the idententation

In [32]:
if 10>0:  #use tab after the collan for the indentation
    print('hello')

hello

**Mistake 2**

In [36]:
if 10>0
    print(''hello)

SyntaxError: expected ':' (4283815727.py, line 1)

**Mistake 3**

In [43]:
if 10>0:
    print('hello')
     print('hi')

IndentationError: unexpected indent (1679834486.py, line 3)

In [45]:
if 10>0:
    print('hello')
    print('hi')

hello
hi

In [47]:
if 10>0:
    print('hello')
    print('hi')
    print('hiiiiiiiiiiiiiii')
    print('bye')

print('wow')

hello
hi
hiiiiiiiiiiiiiii
bye
wow

In [49]:
if 10>0:
    print('hello')
    print('hi')
    if 20>0:
    print('hiiiiiiiiiiiiiii')
    print('bye')
print('wow')

IndentationError: expected an indented block after 'if' statement on line 4 (1925954781.py, line 5)

In [51]:
if 10>0:
    print('hello')
    print('hi')
    if 20>0:
        print('hiiiiiiiiiiiiiii')
        print('bye')
print('wow')

hello
hi
hiiiiiiiiiiiiiii
bye
wow

In [3]:
print('Hellooo')          # true statement
if True:
    print('hello')
    print('hi')
    if True:
        print('hiiiiiiiiiiiiiii')
        print('bye')
print('wow')

Hellooo
hello
hi
hiiiiiiiiiiiiiii
bye
wow

In [57]:
print('Hellooo')
if True:
    print('hello')
    print('hi')
    if True:
        print('hiiiiiiiiiiiiiii')
        print('bye')
print('wow')

Hellooo
hello
hi
hiiiiiiiiiiiiiii
bye
wow

In [61]:
print('Hellooo')
if True:
    print('hello')
    print('hi')
    if False:
        print('hiiiiiiiiiiiiiii')
        print('bye')
print('wow')

Hellooo
hello
hi
wow

In [63]:
print('Hellooo')
if True:
    print('hello')
    print('hi')
    if False:
        print('hiiiiiiiiiiiiiii')
        print('bye')
    if True:
        print('hiiii')
print('wow')

Hellooo
hello
hi
hiiii
wow

In [65]:
print('Hellooo')
if True:
    print('hello')
    print('hi')
    if False:
        print('hiiiiiiiiiiiiiii')
        print('bye')
    if False:
        print('hiiii')
print('wow')

Hellooo
hello
hi
wow

In [67]:
print('company transfer')
if True:
    print('take over')
    print('company transfer')
    if True:
         print('take over')
         print('company transfer')
    if True:
         print('take over')
         print('company transfer')
print('happy family')

company transfer
take over
company transfer
take over
company transfer
take over
company transfer
happy family

In [81]:
print('company transfer')
if True:
    print('take over')
    print('company transfer')
    if True:
         print('take over')
         print('company transfer')
    if False:
         print('take over')
         print('company transfer')
print('happy family')

company transfer
take over
company transfer
take over
company transfer
happy family

In [98]:
print('company transfer')
if True:
    print('take over')
    print('company transfer')
    if True:
        print('take over')
        print('company transfer')
    if False:
        print('take over')
        print('company transfer')

print('avg family')

company transfer
take over
company transfer
take over
company transfer
avg family

In [100]:
print('company transfer')
if True:
    print('take over')
    print('company transfer')
    if False:
        print('take over')
        print('company transfer')
    if False:
        print('take over')
        print('company transfer')

print('sad family')

company transfer
take over
company transfer
sad family

In [102]:
print('company transfer')
if True:
    print('take over')
    print('company transfer')
    if True:
        print('take over')
        print('company transfer')
        if True:
            print('take over')
            print('company transfer')

print('Happy')

company transfer
take over
company transfer
take over
company transfer
take over
company transfer
Happy

In [104]:
print('company transfer')
if True:
    print('take over')
    print('company transfer')
    if True:
        print('take over')
        print('company transfer')
        if False:
            print('take over')
            print('company transfer')

print('avg')

company transfer
take over
company transfer
take over
company transfer
avg

In [110]:
print('company transfer')
if True:
    print('take over')
    print('company transfer')
    if False:
        print('take over')
        print('company transfer')
        if True:
            print('take over')
            print('company transfer')

print('avg')

company transfer
take over
company transfer
avg

In [116]:
print('company transfer')
if False:
    print('take over')
    print('company transfer')
    if True:
        print('take over')
        print('company transfer')
        if True:
            print('take over')
            print('company transfer')

print('old age home')

company transfer
old age home

In [93]:
if True:
    pass

In [95]:
if True:
    break

SyntaxError: 'break' outside loop (1669088988.py, line 2)

In [1]:
if True:
    print('hello')
if False:
    print('Bye')

hello

**if-else**
- it will be activated when condition is true
- else will be activated when condition is false

In [8]:
if 10<0:
    print('hello')
if 10>0:
    print('bye')

bye

In [10]:
print(1)
print(2)

if 10>0:
    print('hello')
else:
    print('bye')

print(3)

1
2
hello
3

In [12]:
print(1)
print(2)

if 10<0:
    print('hello')
else:
    print('bye')

print(3)

1
2
bye
3

In [14]:
print(1)
print(2)

if 10<0:
    print('hello')
    if True:
        print(10)
else:
    print('bye')

print(3)

1
2
bye
3

In [16]:
print(1)
print(2)

if 10>0:
    print('hello')
    if 5<2:
        print(10)
    else:
        print(20)
else:
    print('bye')

print(3)

1
2
hello
20
3

In [18]:
print(1)
print(2)

if 10<0:
    print('hello')
    if 5<2:
        print(10)
    else:
        print(20)
else:
    print('bye')
    if 10>0:
        print('hii')

print(3)

1
2
bye
hii
3

In [24]:
print(1)
print(2)
#----------------------------- One block
if 10<0:
    print('hello')
    if True:
        print(10)

#print("wrong statement")     #inside the if-else block no other print statement can come. if-else will always come together 

else:
    print('bye')

#----------------------------- Second block

print(3)

1
2
bye
3

In [30]:
10%3

1

In [32]:
15//2

7

In [3]:
import random
num=random.randint(1,100)
print(num)
if(num%2)==0:
    print('Even number')
else:
    print('odd number')

24
Even number

- always think like how can i provide value
  - hard codes
  - from keyboard
  - random

In [65]:
num=eval(input('enter the number'))
if num>0:
    print(f'{num} is positive' )
else:
    print(f'{num} is negative' )

enter the number -20

-20 is negative

In [69]:
num=eval(input('enter the number'))
if num>=0:
    if num>0:
        print(f'{num} is positive' )
    else:
        print(f'{num} is zero')
else:
    print(f'{num} is negative' )

enter the number 19

19 is positive

In [5]:
num1=eval(input('enter the number'))
num2=random.randint(1,10)
print(f'random num is {num2}')
if (num1==num2):
    print('won')
else:
    print('not won')

enter the number 7

random num is 9
not won

In [9]:
original_pwd='Ranjan123'
user_pwd=input('Enter the password')
if original_pwd==user_pwd:
    print('Successful login')

else:
    print('false')

Enter the password 123456

false

In [19]:
course_name=input('enter the course name')
cName='DataScience'
IName='NareshIT'
Inst_name=input('enter the Inst name')
if course_name==cName:
    if Inst_name==IName:
         print('secure')

else:
    print("over")

enter the course name DataScience
enter the Inst name NareshIT

secure

In [21]:
'Data Science'.lower()=='data scienCE'.lower()

True

In [23]:
'Data Science'=='Data science'

False

**if-elif-else**

- When ever we have one condition two outputs then we choose if-else
    - if need condition
    - else does not need condition

- when we have two conditions 3 outputs
    - if need conditions 
    - elif need conditions 
    - else does not need conditions

In [2]:
num=int(input('enter the number'))
if num==1:
    print('one')

elif num==2:
    print('one')

elif num==3:
    print('three')

else:
    print('invalid number')

enter the number 5

invalid number

In [4]:
num=int(input('enter the number'))
if num>0:
    print('positive')

elif num<0:
    print('negative')

elif num==0:
    print('zero')

else:
    print('enter a valid number').......

enter the number 10

positive

In [8]:
num=int(input('enter the number'))
if num>5:
    print('greater than 5')

if num>20:
    print('greater than 20')

if num>10:
    print('greater than 10')

else:
    print('enter a valid number')

enter the number 30

greater than 5
greater than 20
greater than 10

In [16]:
marks=float(input('enter the percentage of marks'))
if marks>=75:
    print('A grade')

elif marks>60 and marks<75:
    print('B grade')

elif marks>45 and marks<60:
    print('C grade')

elif marks>30 and marks<45:
    print('D grade')

else:
    print('Fail')

enter the percentage of marks 65

B grade

In [20]:
#eliminate the use of 'and' operator and the elif functionality
marks=float(input('enter the percentage of marks'))
if marks>=75:
    print('A grade')

elif marks>=60:
    print('B grade')

elif marks>=45:
    print('C grade')

elif marks>=30 :
    print('D grade')

else:
    print('Fail')

enter the percentage of marks 50

C grade

In [22]:
age=eval(input('enter the age'))
if age>=100:
    print('Unlucky person')

elif age>=60:
    print('Senior citizen')

elif age>=35:
    print('Middle age')

elif age>=20 :
    print('Youth')

elif age>=10:
    print('Teen')

else:
    print('kid')

enter the age 65

Senior citizen

In [34]:
age=eval(input('enter the age'))
gender=input('enter the gender')
if gender=='male':
    if age>=100:
        print('Unlucky man')

    elif age>=60:
        print('Senior citizen')

    elif age>=35:
        print('Middle age man')

    elif age>=20 :
        print('Young man')

    elif age>=10:
        print('boy')

    else:
        print('kid')

elif gender=='female':
    if age>=100:
        print('Unlucky woman')

    elif age>=60:
        print('Senior citizen woman')

    elif age>=35:
        print('Middle age woman')

    elif age>=20 :
        print('Young girl')

    elif age>=10:
        print('girl')

    else:
        print('kid')

else:
    print('enter a valid gender')

enter the age 65
enter the gender female

Senior citizen woman

wap ask the user to enter number between 1-4 
- if num=1
take two num and addition
- if num=2
take two num and sub
- if num=3
take two num and mul
- if num=4
take two num and division
- otherwise print invalid number